*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(img/playa.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cabecera{
    margin: 20px 50px;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 40px;
    color: #888B85;
    font-weight: 700;
}

.navbar{
    
    width:30%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar > a{
    text-decoration: none;
    color: #888B85;
}

.subscribe{
    padding: 5px 20px;
    border: solid 2px;
}

.medio{
    margin: 15% 0 0 15%;
}

.tituloMedio{
    font-size: 80px;
    color: white;
}

.parrafoMedio{
    font-size: 20px;
    letter-spacing: 1px;
    color: #64A9D6;
}

.linea{
    width: 4%;
    margin-top: 5px;
    border-color: #64A9D6;
}

footer{
    margin-top: 15%;
    color: #64A9D6;
    text-align: center;
}

.titulofooter{
    font-size: 50px;
    font-weight: 400;
}

.subfooter{
    letter-spacing: 1px;
}

.linea2{
    width: 4%;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 48%;
    border-color: #64A9D6;
}

.parrafooter{
    margin-left: 30%;
    width: 40%;
    text-align: center;
}


